.title{
    display:flex;
    justify-content: center;
    
}




.button{
  margin-bottom: 10px;

}
 
    
    
 #board{
  
  display:grid;
  width:500px;
  height:500px;
  border: 1px solid black;
  

 }



 /*.square{
  /*grid-template-columns: repeat(auto-fit, minmax(10px, 1fr));*/
  /*width:20px;
  height:20px;
  border-style: solid ;
  background-color:rgb(235, 44, 44);
  

 }












 

