.title{
    display:flex;
    justify-content: center;
    
}

.button{
    margin-bottom: 10px;

}
 
    
    
 #container{
   display:flex;
   flex-direction: row;
   width:440px;
   flex-wrap:wrap;

 }



 .square{
  width: 20px;
  height: 20px;
  border-style: solid ;
  background-color:rgb(235, 44, 44);

 }














